[Desktop Entry]
Name=Hyprland
Comment=Understory-styled Hyprland session managed by UWSM
Exec=uwsm start -e -D Hyprland hyprland.desktop
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
